/* 
####################################################################################

FILE: global stylesheet for Google Web Font Directory
PROJECT: Google Web Fonts

####################################################################################

TOC:

* reset (just a bit)
* general typography and basics
* font embedding
* main layout elements
* homepage, unsupported
* static content
* forms
* misc
* widgets
* header
* sample
* Collection
* toolbar
* filters
* fontlist
* paragraph view
* glyph view
* poster view
* review
* use
* Superspecimen
* Pairings
* buttons

####################################################################################
*/

/* reset
####################################################################################
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}


/* general typography and basics
####################################################################################
*/

body {
  font: 13px/1.2 Arial, sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
  background: #fff;
}

h1, 
h2, 
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 1em;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 13px;
}

a:link { color: #3F72D8; text-decoration: none; }
a:visited { color: #3F72D8; text-decoration: none; }
a:focus, a:active { color: #3F72D8; text-decoration: none; }

.gwt-hyperlink {
  cursor: pointer;
}

ul {
  list-style: none;
  padding-right: 15px;
}

ol {
  line-height: 1.6em;
}

p {
  margin-bottom: 1em;
  line-height: 1.4em;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after{
  content: "";
}

q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

fieldset {
  display: block;
}

/* main layout elements
####################################################################################
*/

.main-panel {
  padding-right: 20px;
  background: #fff;
}

/* homepage, unsupported
####################################################################################
*/

.homepage, .unsupported {
  background: url(bg_home.png) top left repeat transparent;
  min-height: 100%;
}

.homepage .container-wrapper, .unsupported .container-wrapper {
  margin-top: 10%;
  width: 100%;
}

.homepage #container, .unsupported #container {
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 20px;
  -moz-box-shadow: 3px 3px 10px #777; -webkit-box-shadow: 3px 3px 10px #777; -o-box-shadow: 3px 3px 10px #777; box-shadow: 3px 3px 10px #777;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;
  overflow: auto;
  width: 650px;
  font-family: arial, sans-serif;
}

.homepage #container h1 {
  font-family: "IM Fell English";
  font-size: 40px;
  color: #3d79d0;
  margin-bottom: 20px;
}

.homepage #container h1 span {
  font-style: italic;
}

.homepage #container h2 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 20px;
}

.homepage .start-wrapper {
  text-align: center;
}

.homepage .start .goog-button-base-content {
  font-size: 16px;
  padding: 0 20px;
}

.homepage .steps {
  padding-bottom: 20px;
  overflow: auto;
}

.homepage .steps li {
  float: left;
  width: 30%;
  padding-right: 3%;
}

.homepage .steps h3 {
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 600;
}

.homepage .steps h3 span {
  font-weight: 800;
}

#homepage .fontcard p span {
  background: #e4af1e;
  padding: 3px;
}

.unsupported div {
  clear: both;
}

.unsupported .chrome {
  background: url(http://www.google.com/images/icons/product/chrome-16.png) left center no-repeat;
  padding-left: 20px;
  margin-bottom: 20px;
  display: block;
}

.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* static content
####################################################################################
*/

.static {
  margin: 0 20px 0 10px;
  position: relative;
}

.static-nav {
  position: absolute;
  width: 200px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 2em;
}

.static-nav a {
  font-weight: normal;
}

.static-nav li a.selected {
  color: #000;
  cursor: pointer;
}

.static-content {
  margin: 0 20px 20px 20px;
  border: 1px solid #bbb;
  background: #fff;
  -moz-box-shadow: 0 1px 1px #e1e1e1; -webkit-box-shadow: 0 1px 1px #eee; -o-box-shadow: 0 1px 1px #eee; box-shadow: 0 1px 1px #eee;
  padding: 20px;
  line-height: 1.6em;
}

.static-content p {
  max-width: 800px;
}

/* forms
####################################################################################
*/

textarea {
  height: auto;
  font-family: inherit;
  font-size: 1em;
}

/* misc
####################################################################################
*/

.superspecimenlink a {
  display: inline-block;
  min-height: 15px;
  background-color: #f5f5f5;
  height: 27px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: url(pop_out_static.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(pop_out_static.png), -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: url(pop_out_static.png), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(pop_out_static.png), -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(pop_out_static.png), -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(pop_out_static.png), -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(pop_out_static.png), linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
}

.superspecimenlink a:hover {
  border: 1px solid #C6C6C6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: url(pop_out_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(pop_out_hover.png), -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: url(pop_out_hover.png), -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(pop_out_hover.png), -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(pop_out_hover.png), -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(pop_out_hover.png), -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.superspecimenlink a:active {
  background-color: #f6f6f6;
  background-image: url(pop_out_pressed.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(pop_out_pressed.png), -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: url(pop_out_pressed.png), -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(pop_out_pressed.png), -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(pop_out_pressed.png), -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(pop_out_pressed.png), -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.shortcut a {
  display: inline-block;
  min-height: 15px;
  background-color: #f5f5f5;
  height: 27px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: url(quick_use_static.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(quick_use_static.png), -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: url(quick_use_static.png), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(quick_use_static.png), -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(quick_use_static.png), -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(quick_use_static.png), -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(quick_use_static.png), linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
}

.shortcut a:hover {
  border: 1px solid #C6C6C6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: url(quick_use_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(quick_use_hover.png), -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: url(quick_use_hover.png), -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(quick_use_hover.png), -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(quick_use_hover.png), -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(quick_use_hover.png), -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.shortcut a:active {
  background-color: #f6f6f6;
  background-image: url(quick_use_pressed.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(quick_use_pressed.png), -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: url(quick_use_pressed.png), -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(quick_use_pressed.png), -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(quick_use_pressed.png), -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(quick_use_pressed.png), -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(quick_use_pressed.png), linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.expand a {
  display: inline-block;
  min-height: 15px;
  background-color: #f5f5f5;
  height: 27px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: url(show_styles_static1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(show_styles_static1.png), -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: url(show_styles_static1.png), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(show_styles_static1.png), -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(show_styles_static1.png), -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(show_styles_static1.png), -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(show_styles_static1.png), linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
}

.expand a:hover {
  border: 1px solid #C6C6C6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: url(show_styles_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(show_styles_hover.png), -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: url(show_styles_hover.png), -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(show_styles_hover.png), -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(show_styles_hover.png), -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(show_styles_hover.png), -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.expand.left a, .shortcut.left a  {
  border-right-color: transparent;
  margin-right: 0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.expand.left a + .shortcut.mid a {
  margin-left: -1px;
}

.expand.left a:hover, .shortcut.left a:hover {
  border-right: 1px solid #c6c6c6;
}

.shortcut.mid a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left:0;
  margin-right:0;
}

.superspecimenlink.right a {
  margin-left: 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin-left:-1px;
}

.superspecimenlink.right a:hover {
  border-left: 1px solid #c6c6c6;
}

.expand a:active {
  background-color: #f6f6f6;
  background-image: url(show_styles_pressed.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(show_styles_pressed.png), -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: url(show_styles_pressed.png), -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(show_styles_pressed.png), -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(show_styles_pressed.png), -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(show_styles_pressed.png), -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(show_styles_pressed.png), linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.oops {
  font-size: 16px;
  font-family: Arial, regular;
  line-height: 1.5em;
  margin-top: 10px;
}

.oops .goog-button {
   font-size: 16px !important;
}

.todo {
  color: red !important;
  font-weight: bold;
}

p.todo {
  margin: 2em 0;
}

.warning {
  background: url(//www.google.com/images/icons/feature/exclamation_circle-r16.png) 10px 10px no-repeat #fff7e6;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 30px;
  margin-bottom: 20px;
}


/* widgets
####################################################################################
*/

.gwt-TextBox {
  height: 1.5em;
  border: 1px solid #bbb;
  font-size: 13px;
  -moz-box-shadow: 0 0 1px #e1e1e1; -webkit-box-shadow: 0 1px 1px #eee; -o-box-shadow: 0 1px 1px #eee; box-shadow: 0 1px 1px #eee;
}

.goog-button {
  font-size: 13px !important;
  -moz-box-shadow: 0 0 1px #e1e1e1; -webkit-box-shadow: 0 1px 1px #eee; -o-box-shadow: 0 1px 1px #eee; box-shadow: 0 1px 1px #eee;
  cursor: pointer !important;
}

.gwt-Label {
  display: inline-block;
}

/* header
####################################################################################
*/
#header {
  padding: 15px 20px 20px 10px;
  background-color: #f5f5f5;
}

a.survey {
  position: absolute;
  top: 22px;
  left: 300px;
  line-height: 1.5em;
  text-decoration: underline;
  color: #95702a;
}

#sub-nav {
  position: absolute;
  top: 25px;
  right: 36px;
  line-height: 1.5em;
}

#sub-nav li {
  display: inline-block;
  padding: 0;
  line-height: 1em;
}

#sub-nav li a {
  padding: 0 5px;
}

#sub-nav li a.selected {
  color: #000;
}

#sub-nav li span {
  -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px;
  display: inline-block;
  padding: 3px 5px;
  font-size: 10px;
  line-height: 1em;
  position: relative;
  font-weight: bold;
  font-family: "Open Sans", arial, sans-serif;
  display: none;
}

#sub-nav li a span {
  background: #3d79d0;
  color: #fff;
}

#sub-nav li a.selected span {
  color: #fff;
  background: #555;
}


/* sample
####################################################################################
*/

.sample {
  padding-bottom: 2em;
  overflow: hidden;
}

.sample>div {
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  width: 1.25em;
  height: 2em;
  margin-right: -1px;
  margin-bottom: -1px;
  font-size: 3.2em;
}

.sample>div .defaultCharacter {
  color: #ccc;
  font-family: arial, sans-serif;
  font-size: .4em;
  display: block;
}

/* Collection
####################################################################################
*/

.collection {
  background: #f1f1f1;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}

.collection .emptycollection {
  font-family: arial, regular;
  font-size: 16px;
  color: #222222;
}

.collection .summary {
  display: inline-block;
  text-align: left;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.collection .summary a {
  text-decoration: none;
  font-family: arial, regular;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
}

.collection .nav {
  position: absolute;
  top: 10px;
  right: 38px;
  line-height: 30px;
  border: 0;
}

.collection .docs-nav {
  bottom: 10px;
  top: auto;
}

.collection .docs-nav a {
  color: #222222;
  font-size: 14px;
  position: absolute;
  right: 160px;
}

.collection .docs-nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.collection .collectionlist {
  color: #222222;
  position: absolute;
  top: 45px;
  left: 10px;
  height: 130px;
  width: 98%;
  overflow: auto;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 7px;
}

.collection .collectionitem {
  border-bottom: 1px solid #e1e1e1;
  overflow: none;
  padding: 5px;
}

.collection .remove {
  width: 20px;
  height: 20px;
  background: url('close_static.png') center no-repeat;
  color: #666;
  float: right;
}

.collection .remove:hover {
  background: url('close_hover.png') center no-repeat;
}

.collection .remove:active {
  background: url('close_pressed.png') center no-repeat;
}

.collection .collectionitem .removeremembered {
  float: right;
  color: #222222;
}

.collection .collectionitem .remembered {
  display: inline-block;
}

.collection .oops {
  margin: 30px 0 0 0;
}

.collection .remove-all {
  display: inline-block;
  text-align: left;
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: arial, regular;
  text-decoration: none;
  color: #666;
  white-space: no-wrap;
}

.collection .badge {
  display: inline-block;
  text-align: left;
  color: #666;
  padding: 0 4px 0 0;
  font-size: 11px;
}

.collection .badge div {
  display: inline;
}

.collection .badge:not(:last-child) a:after {
  content: ", ";
}

/* toolbar
#####################################################################################
*/

.toolbar {
  width: 100%;
  margin: 0 0 10px 0;
  position: relative;
}

.toolbar .optionalLinks {
  height: 5px;
}

.toolbar .linklink {
  position: absolute;
  right: 38px;
  top: 0;
  margin: 0;
  padding: 0;
}

.linklink li {
  float: left;
}

.linklink li .download {
  display: inline-block;
  padding-bottm: 2px;
  min-height: 15px;
  background-color: #f5f5f5;
  height: 27px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: url(download_static.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(download_static.png), -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: url(download_static.png), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(download_static.png), -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(download_static.png), -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(download_static.png), -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(download_static.png), linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
   margin-left: 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin-left:-1px;
}

.linklink li .download:hover {
  border-left: 1px solid #c6c6c6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: url(download_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(download_hover.png), -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: url(download_hover.png), -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(download_hover.png), -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(download_hover.png), -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(download_hover.png), -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.linklink li .download:active {
  background-color: #f6f6f6;
  background-image: url(download_pressed.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(download_pressed.png), -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: url(download_pressed.png), -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(download_pressed.png), -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(download_pressed.png), -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(download_pressed.png), -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(download_pressed.png), linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}




.linklink li .permalink {
  display: inline-block;
  padding-bottm: 2px;
  min-height: 15px;
  background-color: #f5f5f5;
  height: 27px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: url(bookmark_static.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(bookmark_static.png), -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: url(bookmark_static.png), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(bookmark_static.png), -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(bookmark_static.png), -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(bookmark_static.png), -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(bookmark_static.png), linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
  border-right-color: transparent;
  margin-right: 0;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

.linklink li .permalink:hover {
  border-right: 1px solid #c6c6c6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: url(bookmark_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(bookmark_hover.png), -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: url(bookmark_hover.png), -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(bookmark_hover.png), -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(bookmark_hover.png), -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(bookmark_hover.png), -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.linklink li .permalink:active {
  background-color: #f6f6f6;
  background-image: url(bookmark_pressed.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(bookmark_pressed.png), -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: url(bookmark_pressed.png), -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(bookmark_pressed.png), -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(bookmark_pressed.png), -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(bookmark_pressed.png), -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(bookmark_pressed.png), linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.emptytoolbar {
  clear: both;
  height: 3px;
}

.toolbarwrapper {
  clear: both;
  overflow: hidden;
  border-width: 1px 0;
  margin-right: 5px;
  padding: 10px 5px;
  height: 30px;
}

.toolbar-control {
  float: left;
  padding-right: 20px;
}

.toolbar-control div {
  display: inline-block;
}

.toolbar .gwt-Label {
  float: left;
  padding-right: .5em;
  line-height: 2.3em;
}

.sizefilter, .sortfilter {
  float: left;
}

.toolbar .lineButton {
  background: transparent url(ic_defaultview.png) no-repeat 50% 50%;
}

.toolbar .paragraphButton {
  background: transparent url(ic_paragraph.png) no-repeat 50% 50%;
}

.toolbar .amount .goog-button-base-pos {
  padding: 0 5px;
}


/* filters
####################################################################################
*/

.filters {
  padding: 0 0 0 10px;
}

.filters .gwt-Label {
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 5px;
}

.filters h2 {
  font-size: 13px;
  font-weight: normal;
  color: #666;
  line-height: 1.5em;
  margin: 10px 0 5px 0;
  font-family: Arial, sans-serif;
}

.filters .used-filter .goog-button {
  font-weight: bold !important;
}


.filters .goog-button-base:nth-of-type(2n+1) .goog-button-base-content {
  width: 113px;
  display: block;
  text-align: left;
}

.filters .goog-button {
  margin-bottom: 10px;
}

.filters .expandall {
  background: url(show_styles_static1.png) left center no-repeat;
  padding: 2px 0 0 20px;
  margin-left: 5px;
  min-height: 16px;
  display: block;
  color: #202020;
}

.filters .expandall.expanded {
  background: url(hide_styles_static.png) left center no-repeat;
  color: #202020;
}

.filters .reset {
  padding: 2px 0 0 20px;
  display: block;
  min-height: 16px;
  margin: 10px 0 15px 5px;
  background: url(ic_reset.png) left center no-repeat;
}

.filters .hide-reset-all-filters {
  color: #999;
  cursor: default;
  background: url(ic_reset_inactive.png) left center no-repeat;
}

.filters .styles {
  margin-top: 10px;
}

.gux-combo .ok, .gux-combo .reset {
  margin: 5px 5px 5px 0px;
  float: right;
}

.gux-combo .ok .goog-button-base-content, .gux-combo .reset .goog-button-base-content {
  min-width: 25px;
  font-size: 10px;
}

.filters .all-families {
  padding: 2px 0 0 20px;
  display: block;
  min-height: 16px;
  margin: 10px 0 5px 5px;
  background: url(ic_collection.png) left center no-repeat;
}

.filters .collection-only {
  padding: 2px 0 0 20px;
  display: block;
  min-height: 16px;
  margin: 10px 0 5px 5px;
  background: url(ic_reset.png) left center no-repeat;
}

.filters .hide-collection-filter {
  display: none;
}

.filters .gwt-SliderBar-shell {
  position: relative;
  display: inline-block;
  width: 100%;
}

.filters .gwt-SliderBar-line {
  height: 3px;
  left: 0;
  top: 12px;
  border: 1px solid #909090;
  background: #f0f0f0;
}

.filters .gwt-SliderBar-knob {
  top: 3px;
  background-image: url(knob.png) !important;
}

.filters .tools {
  top: 0;
  left: 10px;
  width: 162px;
  padding-top: 5px;  /* to balance out that the labels have a 5px margin-bottom */
  border-width: 0 1px;
  -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
  background: #f5f5f5;
  border: 1px solid #dcdcdc;
}

.filters .tools .toolheader {
  padding: 0 0 0 15px;
  color: #444;
  background: url(btn_collection_open.png) 5px 8px no-repeat #f5f5f5;
  cursor: pointer;
  text-transform: capitalize;
}

.filters .tools .toolheader.expanded {
  background-image: url(btn_collection_close.png);
}

.filters .tools .gwt-Label {
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  display: block;
}

.filters .tools .expanded .gwt-Label {
  font-weight: bold;
}

.filters .tools .toolbody {
  padding: 5px 5px 15px 5px;
  background: #fff;
 }

.filters .tools fieldset {
  margin-top: 10px;
  clear: both;
}

/* fontlist
####################################################################################
*/

.fontlist {
  padding: 10px 20px 0 0;
}

.fontcard {
  border: 1px solid #bbb;
  margin: 0 3px 10px 0;
  background: #fff;
  position: relative;
  -moz-box-shadow: 0 1px 1px #e1e1e1; -webkit-box-shadow: 0 1px 1px #eee; -o-box-shadow: 0 1px 1px #eee; box-shadow: 0 1px 1px #eee;
  position: relative;
}

.fontlist .fontcard:hover, .paragraphview .fontcard:hover, .glyphview .fontcard:hover {
   -moz-box-shadow: 3px 3px 3px #e1e1e1; -webkit-box-shadow: 0 1px 1px #eee; -o-box-shadow: 0 1px 1px #eee; box-shadow: 0 1px 1px #eee;
}

.fontlist .fontcard {
  white-space: nowrap;
  overflow: visible;
  padding: 40px 20px 40px 20px;
}

.fontcard .fontname {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fontlist .fontcard .fontname {
  position: absolute;
  top: auto;
  right: auto;
  left: 22px;
  bottom: 13px;
}

.fontcard .fontname .styles {
  display: inline;
}

.fontcard .fontadd {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 11px !important;
}

.fontcard .familylinks {
  position: absolute;
  bottom: 10px;
  right: 175px;
}

.fontcard .familylinks li {
  display: inline;
}

.fontlist .fontsample {
  overflow: hidden;
}

.fontlist .fontitem {
  position: relative;
  top: -10px;
  overflow: hidden;
  width: 100%;
}

.fontlist .fontitem .optional {
  display: inline-block;
}

.fontlist .expanded .fontitem {
  margin-bottom: 10px;
}

.fontlist .expanded .expand a {
  display: inline-block;
  min-height: 15px;
  height: 27px;
  width: 40px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  background-color: #f5f5f5;
  background-image: url(hide_styles_static.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(hide_styles_static.png), -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: url(hide_styles_static.png), -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(hide_styles_static.png), -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(hide_styles_static.png), -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(hide_styles_static.png), -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: url(hide_styles_static.png), linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
}

.fontlist .expanded .expand a:hover {
  border: 1px solid #C6C6C6;
  color: #222;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: url(hide_styles_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(hide_styles_hover.png), -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: url(hide_styles_hover.png), -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(hide_styles_hover.png), -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(hide_styles_hover.png), -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: url(hide_styles_hover.png), -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.fontlist .expanded .expand a:active {
  background-color: #f6f6f6;
  background-image: url(hide_styles_pressed.png);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(hide_styles_pressed.png), -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: url(hide_styles_pressed.png), -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(hide_styles_pressed.png), -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(hide_styles_pressed.png), -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(hide_styles_pressed.png), -o-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: url(hide_styles_pressed.png), linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.fontlist .identifier {
  font-size: 10px;
  color: #777;
  text-align: left;
}

.fontlist .identifier-panel {
  display: inline;
}

.fontlist .sample {
  line-height: 1.5em;
  padding-bottom: 10px;
  display: block;
}

/* paragraph view
###################################################################################
*/

.paragraphview {
  margin-top: 10px;
}

.paragraphview .fontcard {
  width: 400px;
  float: left;
  padding: 40px 10px 30px 10px;
  margin-right: 10px;
  overflow: visible;
  line-height: 1.4;
}

/* glyph view
###################################################################################
*/

.glyphview .fontcard {
  width: 300px;
  height: 110px;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
  overflow: visible;
  padding: 30px 10px;
  text-align: center;
}

.glyphview .fontcard span {
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.glyphview .fontcard .preview span {
  overflow: hidden;
  display: inline;
}

.glyphview .fontcard .fontname span {
  display: inline;
  overflow: visible;
}

.glyphview .identifier {
  position: absolute;
  top: 25px;
  right: 10px;
}

/* poster view
###################################################################################
*/

.posterview .fontcard,
.hovercard .fontcard {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,.15); -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.15); -o-box-shadow: 0 1px 5px rgba(0,0,0,.15); box-shadow: 0 1px 5px rgba(0,0,0,.15);
  min-width: 215px;
}

.posterview .fontcard:hover {
  -moz-box-shadow: 0 0 10px #777; -webkit-box-shadow: 0 0 10px #777; -o-box-shadow: 0 0 10px #777; box-shadow: 0 0 10px #777;
  cursor: pointer;
}

.inverted-appearance .fontcard {
  background-color: #444;
  color: white;
}

.normal-appearance .fontcard {
  background-color: #fff;
  color: black;
}

/* hovercard
###################################################################################
*/

.hoverpopup {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 0;
  -moz-box-shadow: 3px 3px 10px #777; -webkit-box-shadow: 3px 3px 10px #777; -o-box-shadow: 3px 3px 10px #777; box-shadow: 3px 3px 10px #777;
  overflow: auto;
}

.hovercard {
  padding: 45px 20px;
  margin: 0;
}

.hovercard .fontcard {
  display: block;
  position: relative;
  padding: 10px 20px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.hovercard .fontname {
  position: absolute;
  top: 10px;
  right: 20px;
}

.hovercard .fontname span {
  display: inline;
  overflow: visible;
}
.hovercard .fontname .styles {
  display: inline;
}

.hovercard .fontadd {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 11px !important;
}

.hovercard .familylinks {
  position: absolute;
  bottom: 10px;
  right: 185px;
}

.hovercard .familylinks li {
  display: inline;
}

.hovercard .identifier {
  position: absolute;
  top: 25px;
  right: 20px;
}

/* review
###################################################################################
*/

.reviewnav {
  margin: 0 20px 0 10px;
  height: 40px;
}

.reviewnav h4 {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.review {
  padding: 0 20px 0 10px;
}

.review .fontcard {
  float: left;
  white-space: normal;
  margin-right: 10px;
  overflow: visible;
  position: absolute;
  padding: 25px 0 0 0;
}

.review .cardheader {
  background: #e1e1e1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  cursor: move;
}

.cardfooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.review .cardfooter ul {
  margin: 10px;
}

.review .cardfooter li {
  display: inline-block;
}

.review .cardfooter li:last-child {
  display: block;
}

.review .cardfooter li.superspecimen {
  position: absolute;
  bottom: 5px;
  right: 30px;
}

.review .cardbody {
  overflow: auto;
}

.review .cardheader h3 {
  font-weight: normal;
  font-size: 1em;
  padding: 3px 10px;
  display: inline-block;
  line-height: 1;
}

.review a.remove {
  color: #000;
  float: right;
  margin: 2px 5px 0 0;
}

.review .fontcard .fontname {
  font-size: 24px;
  font-weight: normal;
  margin: 5px 10px 10px 10px;
  position: static;
}

.review .specimenfilters {
  padding: 0 10px 10px 10px;
  overflow: auto;
}

.review .specimenfilters span {
  line-height: 2em;
}

.review .specimenfilter {
  margin: 0 10px 5px 0;
  float: left;
}

.review .remember {
  line-height: 2em;
}

.review .specimenfilter .gwt-Label {
  padding-right: 10px;
}

.review .specimenfilters .stylefilter, .review .specimenfilters .sizefilter {
  margin-right: 10px;
}

.review .specimenfilter .goog-button-base-content {
  width: auto;
}

.review .specimenitem {
  padding: 0 10px;
}

.review .specimenlabel {
  font-size: 11px;
  color: #bbb;
}

.review .specimensample {
  overflow: hidden;
  padding: 10px 0px 20px;
}

.review .specimensample span.display {
  white-space: nowrap;
  display: block;
}

.review .fontcard .warning {
  margin: 0 10px;
}

.usethis {
  color: #777;
  font-size: 11px;
  display: block;
  overflow: auto;
  position: relative;
  padding-left: 20px;
}

.usethis input {
  position: absolute;
  top: 0;
  left: 0;
}

/* review: charset
####################################################################################
*/

.charset .gwt-Label {
  margin-left: 10px;
}

.charsetselect {
  margin: 0 0 10px 10px !important;
}

.charset .sample {
  margin-left: -1px;
}

/* review: info
####################################################################################
*/

.infocard {
  padding: 0 20px 0 10px;
}

/* review: styles
####################################################################################
*/

.waterfall .identifier {
  float: left;
  line-height: 1.8;
}

.waterfall .usethis {
  font-size: 10px;
  line-height: 1.8;
}

.waterfall .usethis input {
  top: -1px;
}

.waterfall .cardbody {
  padding: 0 10px;
}

.waterfall .fontitem {
  margin-bottom: 20px;
  line-height: 1.1;
}

.waterfall .stylesample {
  font-size: 36px;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  clear: both;
}

/* review: testdrive
####################################################################################
*/

.testdrive {
  position: relative;
}

.testdrive .tools {
position: absolute;
top: 0;
left: 10px;
width: 180px;
border-width: 0 1px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
background: #f5f5f5;
padding: 3px 0;
border: 1px solid #dcdcdc;
}

.testdrive .tools .toolheader {
color: #444;
padding: 4px 5px 5px 15px;
background: url(btn_collection_open.png) 5px 8px no-repeat #f5f5f5;
cursor: pointer;
}

.testdrive .tools .toolheader.expanded {
  background-image: url(btn_collection_close.png);
}

.testdrive .tools h2 {
  font-family: arial;
  font-size: 13px;
  margin-bottom: 5px;
  display: inline;
}

.testdrive .tools .toolbody {
  padding: 5px 5px 15px 5px;
  background: #fff;
 }

.testdrive .tools fieldset {
  margin-top: 10px;
  clear: both;
}

.testdrive .tools .gwt-Label {
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

.testdrive .tools .gwt-SliderBar-shell {
  height: 25px;
  position: relative;
  width: 100%;
}

.testdrive .tools .gwt-SliderBar-line {
  height: 3px;
  left: 0;
  top: 12px;
  width: 165px;
  border: 1px solid #909090;
  background: #f0f0f0;
}

.testdrive .tools .gwt-SliderBar-knob {
  top: 3px;
  background-image: url(knob.png) !important;
}

.testdrive .article {
  overflow: hidden;
  padding: 0;
  margin: 0 20px 10px 200px;
  position: relative;
  -moz-box-shadow: 2px 2px 2px #e1e1e1; -webkit-box-shadow: 0 1px 1px #eee; -o-box-shadow: 0 1px 1px #eee; box-shadow: 0 1px 1px #eee;
  text-align: center;
}

.testdrive .article .goog-button-base-content {
  font-size: 10px;
  width: auto;
}

.testdrive .articlewrapper {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  padding: 15px;
}

.testdrive .articlebody {
  margin-right: 200px;
}

.testdrive .articleside {
  width: 175px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.testdrive .articleside img {
  margin-bottom: 20px;
}

.testdrive .article h1, .testdrive .article h2 {
  margin-bottom: 20px;  
}

.testdrive .article h1, .pageheading {
  font-size: 36px;
}

.testdrive .article h2, .subheading {
  font-size: 24px;
}

.testdrive .article h1, .testdrive .article h2, .testdrive .article p {
  padding: 3px;
  font-family: arial;
}

.testdrive .article h1:hover, .testdrive .article h2:hover, .testdrive .article p:hover {
  background: url(//www.google.com/images/icons/feature/pencil-y16.png) bottom right no-repeat;
  cursor: pointer;
  -moz-box-shadow: inset 0 0 4px #777; -webkit-box-shadow: inset 0 0 4px #777; -o-box-shadow: inset 0 0 4px #777; box-shadow: inset 0 0 4px #777;
}

.testdrive .cardfooter {
  font-family: monospace;
  text-align: left;
}

.testdrive textarea {
  width: 98%;
  resize: both;
  -moz-box-shadow: inset 0 0 7px #777; -webkit-box-shadow: inset 0 0 7px #777; -o-box-shadow: inset 0 0 7px #777; box-shadow: inset 0 0 7px #777;
  height: auto;
  line-height: 1.4;
}

.testdrive textarea.pageheading {
  min-height: 45px;
}

.testdrive textarea.intro {
  min-height: 100px;
}

.testdrive textarea.bodytext {
  min-height: 300px;
}

.testdrive textarea.sidebar {
  min-height: 250px;
  width: 175px;
}

/* review: testdrive: core fonts
####################################################################################
*/

.serif-normal-400 {
  font-family: serif !important;
  font-style: normal;
  font-weight: 400;
}

.serif-normal-700 {
  font-family: serif !important;
  font-style: normal;
  font-weight: 700;
}

.serif-italic-400 {
  font-family: serif !important;
  font-style: italic;
  font-weight: 400;
}

.serif-italic-700 {
  font-family: serif !important;
  font-style: italic;
  font-weight: 700;
}

.sans-serif-normal-400 {
  font-family: sans-serif !important;
  font-style: normal;
  font-weight: 400;
}

.sans-serif-normal-700 {
  font-family: sans-serif !important;
  font-style: normal;
  font-weight: 700;
}

.sans-serif-italic-400 {
  font-family: sans-serif !important;
  font-style: italic;
  font-weight: 400;
}

.sans-serif-italic-700 {
  font-family: sans-serif !important;
  font-style: italic;
  font-weight: 700;
}

.cursive-normal-400 {
  font-family: cursive !important;
  font-style: normal;
  font-weight: 400;
}

.cursive-normal-700 {
  font-family: cursive !important;
  font-style: normal;
  font-weight: 700;
}

.cursive-italic-400 {
  font-family: cursive !important;
  font-style: italic;
  font-weight: 400;
}

.cursive-italic-700 {
  font-family: cursive !important;
  font-style: italic;
  font-weight: 700;
}

.fantasy-normal-400 {
  font-family: fantasy !important;
  font-style: normal;
  font-weight: 400;
}

.fantasy-normal-700 {
  font-family: fantasy !important;
  font-style: normal;
  font-weight: 700;
}

.fantasy-italic-400 {
  font-family: fantasy !important;
  font-style: italic;
  font-weight: 400;
}

.fantasy-italic-700 {
  font-family: fantasy !important;
  font-style: italic;
  font-weight: 700;
}

.monospace-normal-400 {
  font-family: monospace !important;
  font-style: normal;
  font-weight: 400;
}

.monospace-normal-700 {
  font-family: monospace !important;
  font-style: normal;
  font-weight: 700;
}

.monospace-italic-400 {
  font-family: monospace !important;
  font-style: italic;
  font-weight: 400;
}

.monospace-italic-700 {
  font-family: monospace !important;
  font-style: italic;
  font-weight: 700;
}

/* review: compare
####################################################################################
*/

.compare .goog-button-base:nth-of-type(2n+1) .goog-button-base-content {
  width: 125px;
  text-align: left;
}

.compare .script-control .goog-button-base:nth-of-type(2n+1) .goog-button-base-content {
  width: 100px;
}

.compare .color-control .goog-button-base:nth-of-type(2n+1) .goog-button-base-content {
  width: 80px;
}

.compare .gwt-SliderBar-shell {
  height: 25px;
  position: relative;
  width: 300px;
  display: block;
}

.compare .gwt-SliderBar-shell .gwt-SliderBar-line {
  height: 3px;
  top: 50%;
  width: 270px;
  border: 1px solid #909090;
  background: #f0f0f0;
}

.compare .gwt-SliderBar-shell .gwt-SliderBar-knob {
  top: 3px;
  background-image: url(knob.png) !important;
}

.compare .sample {
  font-size: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.compare .script-control {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 0;
}

.compare .color-control {
  padding-left: 5px;
  padding-right: 0;
}

.compare .sample div .fontCharacters {
  height: 0;
  position: relative;
  white-space: nowrap;
  visibility: hidden;
}

/* use
####################################################################################
*/

.use {
  padding-bottom: 30px;
  position: relative;
  padding: 0 20px 0 10px;
}

.use .quickbuttons {
  position: absolute;
  top: 3px;
  right: 280px;
  margin-bottom: 5px;
}

.use .quickbuttons a {
  display: inline-block;
}

.use .linklink {
  clear: both;
  float: right;
  padding-right: 5px;
  margin-bottom: 5px;
}

.use .card {
  clear: both;
  border: 1px solid #bbb;
  margin: 0 3px 10px 0;
  background: #fff;
  position: relative;
  -moz-box-shadow: 0 1px 1px #e1e1e1; -webkit-box-shadow: 0 1px 1px #eee; -o-box-shadow: 0 1px 1px #eee; box-shadow: 0 1px 1px #eee;
}

.use .section {
  clear: both;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #bbb;
  padding: 20px;
}

.use .aside {
  margin: 20px 20px 0 10px;
  width: 250px;
  top: 0;
  right: 0;
  position: absolute;
  color: #777;
}

.use .tip {
  font-weight: bold;
  font-style: italic;
}

.use .usage {
  padding: 10px 20px 0 0;
  white-space: normal;
  margin: 0 280px 30px 0;
  overflow: hidden;
}

.use .style-wrapper {
  width: 40%;
  display: inline-block;
}

.use .grumpy, .use .grumpyrtl {
  width: 60%;
  white-space: nowrap;
}

.use .grumpy {
  display: inline;
}

.use .grumpyrtl {
  display: inline-block;
  direction: rtl;
  overflow: hidden;
}

.use .weight {
  min-height: 300px;
}

.use .weight .usage {
  min-height: 350px;
}

.use .thecode {
  min-height: 150px;
  padding-top: 0;
}

.use .thecode .aside {
  margin-top: 0;
}

.use .getthecode {
  background: #f1f1f1;
  border: 1px solid #ccc;
  position: relative;
  padding-left: 10px;
  padding-bottom: 20px;
}

.use .codetabs {
  position: relative;
  left: 3px;
  display: block;
  bottom: 0;
  margin: 20px;
}

.use .codetabs li {
  float: left;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  margin-right: 3px;
  margin-bottom: -2px;
  z-index: 100;
  padding: 3px 8px;
  font-size: 11px;
  background-color: #f1f1f1;
  min-width: 50px;
  text-align: center;
}

.use .codetabs li.selected {
  bottom: 0;
  padding: 2px 8px 5px 8px;
  position: relative;
}

.use .codetabs a {
  color: #222222;
  outline: 0;
}

.use .subset .usage {
  padding-right: 100px;
  padding-bottom: 30px;
}

.use .subsetitem {
  float: left;
  min-width: 100px;
  line-height: 2em;
}

.use h3 {
  float: left;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: -10px;
}

.use .review h3 {
  float: none !important;
}

.use .usage h3 {
  float: none;
  margin: 0 0 20px 0;
}

.use .code, .use .code-stack {
  font-family: "Courier new", monospace;
  font-weight: bold;
  font-size: 12px;
  background-color: #FAFAFA;
  line-height: 30px;
  color: #000;
  width: 95%;
}

.use .code {
  min-height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;    
  white-space: nowrap;
  overflow: auto;
  cursor: text; 
}

.use .code-stack {
  border: none;  
}

.use .aside .code {
  background-color: transparent;
  border: 0;
  line-height: 1em;
  white-space: normal;
  overflow: visible;
  width: auto;
}

.use .uselist {
  font-size: 16px;
}

.use .weightindicator {
  margin: 0 0 20px 20px;
}

.quick-use-button-wrapper {
  padding: 20px 5px 20px 0;
  overflow: auto;
  clear: both;
}

.quick-use-go-back {
  float: left;
  font-size: 16px !important;
}

.quick-use-add-to-collection {
  float: right;
  font-size: 16px !important;
}

/* Superspecimen
####################################################################################
 */

.quick-use-nav .summary {
  text-decoration: none;
  color: #222222;
}

.quick-use-nav .add-to-collection {
  position: absolute;
  top: 10px;
  right: 38px;
}

.superspecimen {
  padding: 20px 0 80px 20px;
  max-width: 700px;
  min-height: 800px;
}

.superspecimen .superheader {
  margin-bottom: 20px;
}

.superspecimen .openlink {
  float: right;
  margin-top: 5px;
}

.superspecimen h1, .superspecimen h2, .superspecimen h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: arial;
  margin-bottom: 3px;
}

.superspecimen h2, .superspecimen h3 {
  font-size: 13px;
}

.superspecimen h3 {
  margin-bottom: 20px;
}

.superspecimen .fontcard {
  padding: 20px;
  overflow: hidden;
  margin-top: 15px;
}

.superspecimen .supersample {
  font-size: 64px;
  line-height: 1.1em;
  margin-bottom: 20px;
}

.superspecimen .styles {
  margin-bottom: 20px;
  font-size: 32px;
  white-space: nowrap;
}

.superspecimen .styles p {
  margin-bottom: 10px;
}

.superspecimen .identifier {
  font-size: 11px;
  color: #777;
  font-family: arial;
  display: block;
}

/* Pairings
####################################################################################
*/

/* TODO: move this to directory directory.nocache.css when CL is finished */
#_pairings {
  font-size: 24px !important;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#_pairings .pair-poster {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #ddd inset;
  width: 20em;
  overflow: hidden;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color:#fefefe;
  position:relative;
}

#_pairings .header-header h1 {
  color: black;
  font-size: 2em;
  word-spacing: 0em;
  font-weight: normal;
  display: inline-block;
  margin: 45px 2px;
}

#_pairings .header-header .left-header {
  -moz-transform: rotate(15deg); -webkit-transform: rotate(15deg); -o-transform: rotate(15deg); -ms-transform: rotate(15deg); transform: rotate(15deg);
}

#_pairings .header-header .right-header {
  -moz-transform: rotate(-15deg); -webkit-transform: rotate(-15deg); -o-transform: rotate(-15deg); -ms-transform: rotate(-15deg); transform: rotate(-15deg);
}

#_pairings .header-body h1 {
  border: none;
  color: black;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 10px;;
  text-align: center;
}

#_pairings .header-body p {
  color: black;
  font-size: 1em;
  text-align: left;
  font-size: 0.8em;
}

#_pairings .body-body p {
  color: black;
  text-align: left;
}

#_pairings a:link {
  color: black;
}

#_pairings a:visited {
  color: black;
}

#_pairings a:hover {
  color: black;
}

#_pairings a:active {
  color: black;
}

#_pairings a:hover .specimen-link {
  text-shadow: 2px 2px 4px #444;
}

/* Bookmark popups
####################################################################################
 */

.popup {
  background-color: #fff;
  border: 1px solid #bbb;
  padding: 20px;
  -moz-box-shadow: 3px 3px 10px #777; -webkit-box-shadow: 3px 3px 10px #777; -o-box-shadow: 3px 3px 10px #777; box-shadow: 3px 3px 10px #777;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;
  overflow: auto;
}

.popup h2 {
  margin-bottom: 20px;
}

.popup .close {
  float: right;
}

input[type=text].bookmarkLink {
  width: 50em;
}

/* gwt stuff
####################################################################################
 */

.gwt-SliderBar-shell {
  z-index: 0;
}

.gwt-SliderBar-shell-focused {
  outline: 0;
}

.hide-collection-filter {
  color: #999;
  cursor: default;
}

.missing-glyph {
  color: #C0C0C0;
  font-family: sans-serif;
}

.hide {
  display: none !important;
}

.cursor {
  margin: 0.25em;
  cursor: pointer;
  text-decoration: underline;
}

.dismiss {
  font-size: 8px;
  font-weight: normal;
}

.visibility-hidden {
  visibility: hidden !important;
}

.choose-active-button {
  background: transparent url('ic_one_active.png') no-repeat left center;
  padding-left: 20px;
  zoom: 1; /* IE6/7 needs this to apply padding to the correct side in RTL. */
}

.choose-inactive-button {
  background: transparent url('ic_one.png') no-repeat left center;
  padding-left: 20px;
  zoom: 1; /* IE6/7 needs this to apply padding to the correct side in RTL. */
}

.review-active-button {
  background: transparent url('ic_two_active.png') no-repeat left center;
  padding-left: 20px;
  zoom: 1; /* IE6/7 needs this to apply padding to the correct side in RTL. */
}

.review-inactive-button {
  background: transparent url('ic_two.png') no-repeat left center;
  padding-left: 20px;
  zoom: 1; /* IE6/7 needs this to apply padding to the correct side in RTL. */
}

.use-active-button {
  background: transparent url('ic_three_active.png') no-repeat left center;
  padding-left: 20px;
  zoom: 1; /* IE6/7 needs this to apply padding to the correct side in RTL. */
}

.use-inactive-button {
  background: transparent url('ic_three.png') no-repeat left center;
  padding-left: 20px;
  zoom: 1; /* IE6/7 needs this to apply padding to the correct side in RTL. */
}

.usethisstyle {
  color: #777;
  font-size: 11px;
}

/* buttons
####################################################################################
 */

.button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  clear: both;
  color: #000 !important;
  text-decoration: none;
  padding: 4px 8px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #bbb;
  border-left: 1px solid #aaa;
  background: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f9f9f9),color-stop(1, #e3e3e3));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.4em;
  margin-bottom: 10px;
  cursor: pointer;
}

a.external-link, .g-tabs li span.external-link {
  background-image: url(pop-out.png);
  -webkit-user-select:none;
  -moz-user-select:none;
  cursor:default;
  width:21px;
  height:17px;
  display:inline-block;
  padding:0;
}
